{% extends "layout_store_open.html" %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="shop_main_cont">


<!-- /////////////// OUR TOURNAMENTS, CLICK TO VIEW ALL TOURNAMENTS ////////////////// -->

<div id="landing_section_3" class="landing_section_3">

    <div class="welcome_page">

      <div id="footer2" class="footer2">
        
        <div class="welcome_message">
          WELCOME TO QUEST GAMING
        </div>
        

				<a href="{{url_for('customer_register')}}" class="">
            <div class="join_btn">
              JOIN THE LEAGUE
            </div>
        </a> 	


      </div>
    </div>

</div>


<div class="landing_section_1">
  <div class="segment_titles_1_center">
    EARN WHILE YOU PLAY  
  </div>
  <div class="segment_titles_2_center">
    WIN REAL CASH PRIZES FROM PLAYING THE GAMES YOU KNOW AND LOVE !
  </div>
  <div class="segment_titles_3_center">
    PLAY AGAINST OPPONENTS FROM ALL OVER THE WORLD TO TEST YOUR SKILLS AND BRING HOME THE BAG $£$£ !!!
  </div>
</div>

  <div class="black_band">
    OUR TOURNAMENTS  ///  OUR TOURNAMENTS   OUR TOURNAMENTS  ///  OUR TOURNAMENTS  OUR TOURNAMENTS  ///  OUR TOURNAMENTS  OUR TOURNAMENTS  ///  OUR TOURNAMENTS   OUR TOURNAMENTS  ///  OUR TOURNAMENTS  OUR TOURNAMENTS  ///  OUR TOURNAMENTS
  </div>

<div class="landing_section_5" >

  <div class="half_split">
    <div class="segment_titles_1_left">
      WAGER MATCHES
    </div>
  </div>
  
  <div class="half_split">
    <div class="segment_titles_1_left">
      DAILY TOURNAMENTS
    </div>
  </div>

  <div class="half_split">
    <div class="segment_titles_1_left">
      MONTHLY TOURNAMENTS
    </div>
  </div>
  
  <div class="half_split">
    <div class="segment_titles_1_left">
      SPECIAL PRIZE AWARDS
    </div>
  </div>

</div>

<div class="black_band">
  HOW TO JOIN /// ///  HOW TO JOIN ///  HOW TO JOIN /// ///  HOW TO JOIN /// HOW TO JOIN /// ///  HOW TO JOIN /// HOW TO JOIN /// ///  HOW TO JOIN ///  HOW TO JOIN /// ///  HOW TO JOIN /// HOW TO JOIN /// ///  
</div>


<div class="landing_section_1">
  <div class="segment_titles_1_center">
    ALL FROM THE COMOFRT OF YOUR OWN HOME !
  </div>
  <div class="segment_titles_2_center">
    NO MATTER WHAT PLATFORM YOU CHOOSE TO PLAY YOUR GAMES ON, YOU WILL BE ABLE TO ENTER OUR TOURNAMENTS AND FIND AN OPPONENT.
  </div>
  <div class="segment_titles_3_center">
    SOMETHING ABOUT CROSS PLATFORM !!!
  </div>
</div>



<div class="color_bg">
  <div class="white_band">
    3 SIMPLE STEPS /// ///  3 SIMPLE STEPS ///  3 SIMPLE STEPS /// ///  3 SIMPLE STEPS /// 3 SIMPLE STEPS /// ///  3 SIMPLE STEPS /// 3 SIMPLE STEPS /// ///  3 SIMPLE STEPS ///  3 SIMPLE STEPS /// ///  3 SIMPLE STEPS /// 3 SIMPLE STEPS /// ///  
  </div>

<div class="steps_cont">
  <div class="Steps">
    <div class="segment_titles_2_center">
     SIGN UP 
    </div>
  </div>
  <div class="Steps">
    <div class="segment_titles_2_center">
      ENTER A TOURNAMENT OR WAGER
    </div>
  </div>
  <div class="Steps">
    <div class="segment_titles_2_center">
      COLLECT PRIZE MONEY
    </div>
  </div>

</div>

<a href="{{url_for('customer_register')}}" class="">
  <div class="join_btn">
    JOIN NOW !
  </div>
</a> 	


</div>


<div class="landing_section_1">
  <div class="segment_titles_1_center">
    WIN A BRAND NEW NEXT GEN CONSOLE
  </div>
  <div class="segment_titles_2_center">
    ENTER ONE OF "OUR WINNER TAKES ALL" TOURNAMENTS TO WIN A XBOX SERIES-X OR PS5, SEE FULL RULES AND REGISTER HERE TO WIN !!

  </div>
  <div class="segment_titles_3_center">
    PLAY AGAINST OPPONENTS FROM ALL OVER THE WORLD TO TEST YOUR SKILLS AND BRING HOME THE BAG $£$£ !!!
  </div>

  <a href="{{url_for('customer_register')}}" class="">
    <div class="join_btn">
      JOIN TO WIN !
    </div>
  </a> 	
  
</div>


<div id="footer" class="footer">
  <div class="footer_cont">

      <div class="footer_div">
        <div class="footer_title">WANT MORE ?</div>
        <div class="footer_link">Size Guide</div>
        <div class="footer_link">Delivery and Returns</div>
        <div class="footer_link">About Us</div>
        <div class="footer_link">Privacy policy</div>
        <div class="footer_link">Terms od Service</div>

        <div class="footer_link">2020 Shapit UK</div>
      </div>

      <div class="footer_div">
        <div class="footer_title">WHY USE A WAIST TRAINER ?</div>
        <div class="footer_link">How To Use a Waist Trainer</div>
        <div class="footer_link">Garment Care</div>
        <div class="footer_link">Size Guide</div>
        <div class="footer_link">Beginners Guide to Waist Training</div>

      </div>

      <div class="footer_div">
        <div class="footer_title">SHAPE IT UK</div>
        <div class="footer_link">Adress line</div>
        <div class="footer_link">Adress line</div>
        <div class="footer_link">Adress line</div>
        <div class="footer_link">Adress line</div>
      </div>

      <div class="footer_div">
        <div class="footer_title">SOCIAL MEDIA LINKS</div>
        <div class="footer_link">Facebook</div>
        <div class="footer_link">instagram</div>
        <div class="footer_link">Twitter</div>
        <div class="footer_link">Snapchat</div>
      </div>
    </div>

    <!-- payment methods  -->


  </div>
 
  <div class="payment_system">
    
    <div class="footer_div_payment">
        <div class="footer_title2">PAYMENT METHODS</div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-paypal-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-mastercard-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-visa-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-american-express-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
    </div>

</div>

</div>

{% endblock content %}



