{% extends "layout_store_open.html" %}
{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="shop_main_cont">


<!-- /////////////// OUR TOURNAMENTS, CLICK TO VIEW ALL TOURNAMENTS ////////////////// -->

<div id="landing_section_3" class="landing_section_3">

	<div id="my_info_cont_prof">
		<div class="my_info_prof_pic"></div> 
		<div class="segment_titles_2">LIVE TOURNAMENTS</div>
  </div>
  <div class="player_stats">
		<div class="stats_cont">
			<div class="segment_titles_info_title"> SEASON 1 </div>
			<div class="segment_titles_info_title"> SEASON 2 </div>
		</div>
	</div>

  <div class="our_games_cont_HEX">

      <div class="info_page_cont">

        <div class="segment_titles_2"> RULES </div>

        <div class="section_text">
          DISCLAIMER: If you believe your opponent is not using the correct Rule Set for the match, you need to provide in-game proof showing the rules are wrong. Anything else will not be accepted as valid proof.      </div>


      <div class="about_Section">
        <div class="segment_titles_2_rules"> BATTLE ROYAL WINNER TAKES ALL </div>
        <div class="section_text">
          <div class="rule_subtitle">CDL Search and Destroy</div>
              All players must be at least 18 years old and residents of the U.K.
            <div class="rule_subtitle">CDL Search and Destroy</div>
            
              Activate the official Call of Duty League pre-set gamemode.
              Enter the Private Match Custom Game lobby > Game Setup > Mode > Call of Duty League > Search and Destroy.
            
            <div class="rule_subtitle">CDL Search and Destroy</div>
              <div>
                Play this mode if the challenge option is CMG or is a current tournament All tournaments are CMG ruleset unless otherwise stated.
                Only the following settings need to be changed from their default. Changing other default values will result in a forfeit.
              </div>
            
              <div class="rule_subtitle">GAME</div>

              Round time limit: DEFAULT 2 MINUTES
              Round Switch: Every Round
              Skip Infil: Enabled or Disabled (Hosts choice)

              <div class="rule_subtitle">ADVANCED</div>
              Defuse time: 7.5 Seconds
              Silent Plant: Enabled
              Reset Plant/Defuse Progress: Enabled

              <div class="rule_subtitle">TEAM</div>
              Friendly Fire: Enabled
              Team Kill Punish Limit: Disabled
              Weapon Ping On Minimap: Enabled

              <div class="rule_subtitle">GAMEPLAY</div>
              Killstreaks: Disabled
              Battle Chatter: Disabled 1/7/2020 12:00PM EST

        </div>
      </div>




      <div class="about_Section">
        <div class="segment_titles_2_rules"> SQUADS 4V4 TEAM DEATH MATCH </div>
        <div class="section_text">
          <div class="rule_subtitle">CDL Search and Destroy</div>
              All players must be at least 18 years old and residents of the U.K.
            <div class="rule_subtitle">CDL Search and Destroy</div>
            
              Activate the official Call of Duty League pre-set gamemode.
              Enter the Private Match Custom Game lobby > Game Setup > Mode > Call of Duty League > Search and Destroy.
            
            <div class="rule_subtitle">CDL Search and Destroy</div>
              <div>
                Play this mode if the challenge option is CMG or is a current tournament All tournaments are CMG ruleset unless otherwise stated.
                Only the following settings need to be changed from their default. Changing other default values will result in a forfeit.
              </div>
            
              <div class="rule_subtitle">GAME</div>

              Round time limit: DEFAULT 2 MINUTES
              Round Switch: Every Round
              Skip Infil: Enabled or Disabled (Hosts choice)

              <div class="rule_subtitle">ADVANCED</div>
              Defuse time: 7.5 Seconds
              Silent Plant: Enabled
              Reset Plant/Defuse Progress: Enabled

              <div class="rule_subtitle">TEAM</div>
              Friendly Fire: Enabled
              Team Kill Punish Limit: Disabled
              Weapon Ping On Minimap: Enabled

              <div class="rule_subtitle">GAMEPLAY</div>
              Killstreaks: Disabled
              Battle Chatter: Disabled 1/7/2020 12:00PM EST




        </div>
      </div>

      <div class="about_Section">
        <div class="segment_titles_2_rules"> SOLO DEATH MATCH </div>
        <div class="section_text">
          <div class="rule_subtitle">CDL Search and Destroy</div>
              All players must be at least 18 years old and residents of the U.K.
            <div class="rule_subtitle">CDL Search and Destroy</div>
            
              Activate the official Call of Duty League pre-set gamemode.
              Enter the Private Match Custom Game lobby > Game Setup > Mode > Call of Duty League > Search and Destroy.
            
            <div class="rule_subtitle">CDL Search and Destroy</div>
              <div>
                Play this mode if the challenge option is CMG or is a current tournament All tournaments are CMG ruleset unless otherwise stated.
                Only the following settings need to be changed from their default. Changing other default values will result in a forfeit.
              </div>
            
              <div class="rule_subtitle">GAME</div>

              Round time limit: DEFAULT 2 MINUTES
              Round Switch: Every Round
              Skip Infil: Enabled or Disabled (Hosts choice)

              <div class="rule_subtitle">ADVANCED</div>
              Defuse time: 7.5 Seconds
              Silent Plant: Enabled
              Reset Plant/Defuse Progress: Enabled

              <div class="rule_subtitle">TEAM</div>
              Friendly Fire: Enabled
              Team Kill Punish Limit: Disabled
              Weapon Ping On Minimap: Enabled

              <div class="rule_subtitle">GAMEPLAY</div>
              Killstreaks: Disabled
              Battle Chatter: Disabled 1/7/2020 12:00PM EST




        </div>
      </div>



      <div class="about_Section">
        <div class="segment_titles_2_rules"> SOLO 1V1 </div>
        <div class="section_text">
          <div class="rule_subtitle">CDL Search and Destroy</div>
              All players must be at least 18 years old and residents of the U.K.
            <div class="rule_subtitle">CDL Search and Destroy</div>
            
              Activate the official Call of Duty League pre-set gamemode.
              Enter the Private Match Custom Game lobby > Game Setup > Mode > Call of Duty League > Search and Destroy.
            
            <div class="rule_subtitle">CDL Search and Destroy</div>
              <div>
                Play this mode if the challenge option is CMG or is a current tournament All tournaments are CMG ruleset unless otherwise stated.
                Only the following settings need to be changed from their default. Changing other default values will result in a forfeit.
              </div>
            
              <div class="rule_subtitle">GAME</div>

              Round time limit: DEFAULT 2 MINUTES
              Round Switch: Every Round
              Skip Infil: Enabled or Disabled (Hosts choice)

              <div class="rule_subtitle">ADVANCED</div>
              Defuse time: 7.5 Seconds
              Silent Plant: Enabled
              Reset Plant/Defuse Progress: Enabled

              <div class="rule_subtitle">TEAM</div>
              Friendly Fire: Enabled
              Team Kill Punish Limit: Disabled
              Weapon Ping On Minimap: Enabled

              <div class="rule_subtitle">GAMEPLAY</div>
              Killstreaks: Disabled
              Battle Chatter: Disabled 1/7/2020 12:00PM EST

        </div>
      </div>





      </div>


      <div class="segment_titles_info_title"> READY TO PLAY ? </div>
      <div class="section_text">
        Create your account here
        Register any game of your choice via singles or squads Play the game that you chose and compete against your components Win, and receive your cash prize reward.
      </div>

  </div>

  
</div>





<div id="footer" class="footer">
  <div class="footer_cont">

      <div class="footer_div">
        <div class="footer_title">WANT MORE ?</div>
        <div class="footer_link">Size Guide</div>
        <div class="footer_link">Delivery and Returns</div>
        <div class="footer_link">About Us</div>
        <div class="footer_link">Privacy policy</div>
        <div class="footer_link">Terms od Service</div>

        <div class="footer_link">2020 Shapit UK</div>
      </div>


      <div class="footer_div">
        <div class="footer_title">SOCIAL MEDIA LINKS</div>
        <div class="footer_link">Facebook</div>
        <div class="footer_link">instagram</div>
        <div class="footer_link">Twitter</div>
        <div class="footer_link">Snapchat</div>
      </div>
      
    </div>

    <!-- payment methods  -->


  </div>
 
  <div class="payment_system">
    
    <div class="footer_div_payment">
        <div class="footer_title2">PAYMENT METHODS</div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-paypal-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-mastercard-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-visa-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
        <div class="footer_icon">      <img src="{{url_for('static', filename='icons/icons8-american-express-480.png' )}}" alt="{{product.name}}" class="itm_img"></div>
    </div>

</div>

</div>

{% endblock content %}



