{#<!-- {% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center bg-info p-2 h4">Login</div>
                {% from "_formhelpers.html" import render_field %}
                {% include '_messages.html' %}
                <form method=post>
                    {{form.csrf_token}}
                <div>
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <p><input type="submit" value="Login" class="btn-info">
                </form>
            </div>
      <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %} -->#}



{% extends "layout_store_open.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

{# <!-- 
<div class="reg_bg">


    <div id="register_form">

        {% from "_formhelpers.html" import render_field %}
        {% include '_messages.html' %}
        <form method=post>
            {{form.csrf_token}}
        <div>
    
            <div class="title_small">NEW HERE ?</div>
            <div class="text_medium">Create an account to view order history,</div>
            <div class="text_medium">save addresses & faster checkout !</div>
        <div class="">
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        {{ render_field(form.FirstName, class="form-control")}}
                        {{ render_field(form.SecondName, class="form-control")}}
                        
                        {{ render_field(form.username,class="form-control")}}
                        {{ render_field(form.email,class="form-control")}}
                        {{ render_field(form.password, class="form-control")}}
                        {{ render_field(form.confirm ,class="form-control")}}
                        {{ form.profile() }}
        
                        {{ form.submit(class="btn btn-sm btn-info float-right") }}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
    
            <div class="col-md-2"></div>
        </div>
        <div class="text_small">By signing up for an account you accept our</div>
        <div class="text_small">Terms and Privacy Policy.</div>
    
    
        <div id="acc_option" class="acc_option">LOGIN</div>
    
    
        </div>
        </form>
    
    </div>

</div>



</div>
 -->
#}



<!-- //////////////////////////////////////////////////////////////// -->



<head>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quick_sign.css') }}">

</head>




			<div id="sign_up_form_cont">
							<div id="sign_up_form">
								<div id="sign_up_form_header">
								<div id="signup_header_txt">SIGN-UP HERE</div>
							    <div id="signup_p_icon"></div>
							</div>					
					
                            {% from "_formhelpers.html" import render_field %}
                            {% include '_messages.html' %}
                            <form method=post>
                                {{form.csrf_token}}

								<div id="signup_form_img_upload_cont">
												<div id="signup_form_prof_pic"> 

	    												<div class="upldImg">  <img id="blah" src="#" alt=""  class="signup_form_prof_pic" />     </div> 
														<div class="imgBtn">  <input  type='file' name="file" onchange="readURL(this);"  class="sign_up_btn_cont" />  </div> 
												 </div>
								</div>

                                <div class="field_test2">{{ render_field(form.email, placeholder="Email")}}</div>
                                <div class="field_test2">{{ render_field(form.password, placeholder="Password")}}</div>

		

										<div id="agreements_cont">
											<div class="agreements">By clicking on Sign up, you agree to Plug's  <a class="hyperlink" href="url">Terms and Conditions of Use</a>.  </div>
											<div class="agreements">To learn more about how Quest-Gaming, uses, protects your personal data please read our <a class="hyperlink2" href="url">Privacy Policy</a>.</div>
										</div>


							<div class="sign_up_btn_cont">{{ form.submit(id="sign_up_btn") }}</div>


										<div id="already_have_account"> Already have an account?  <a class="hyperlink2" href="url"> Sign up </a> </div>









						    </form>
	 		</div>


			 </div>


	<script type="text/javascript">
		////////////////ON BUTTON CLICK, CHANGE//////...
	var content = document.getElementById("log_in_form_container");
	var button = document.getElementById("profile_icon");

				button.onclick = function(){

				if(content.className== "open"){
				content.className = "" ;
				}else{
				content.className = "open";
				}

				};

	////////////////////////SIGN UP FORM///////////////////////////
	var sign_up_form_cont = document.getElementById("sign_up_form_cont");
	var sign_up_form = document.getElementById("sign_up_form");
	var sign_up_btn = document.getElementById("sign_up_btn");

			sign_up_btn.onclick = function(){

				if(sign_up_form.className== "open"){
				sign_up_form.className = "";
				sign_up_form_cont.className = ""

				}else{
				sign_up_form.className = "open"
				sign_up_form_cont.className = "open";
				}

				};

	/////////////////////////////////////////////////////////////
	var sign_up_form_cont = document.getElementById("sign_up_form_cont");
	///////////////////////////////////////////////////////////////////


	 function readURL(input) {
	            if (input.files && input.files[0]) {
	                var reader = new FileReader();

	                reader.onload = function (e) {
	                    $('#blah')
	                        .attr('src', e.target.result)
	                       
	                };

	                reader.readAsDataURL(input.files[0]);
	            }
	        }


	</script>










<div class="reg_bg">

</div>



{% endblock content %}